body {
    background-image:url(bg.png),  linear-gradient(17deg, rgba(249,255,234,1) 0%, rgb(77 162 255) 50%, rgba(250,255,218,1) 100%);
    background-size: contain;
    width: 500px;
    margin: 4% auto;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 5px;
    font-size: 1.8rem;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    background-attachment: fixed;
    animation: bg-scroll 5s ease infinite alternate;
    animation-timing-function: ease-in-out;
}

@keyframes bg-scroll {
    100%{
        background-position: 100%;
        background-image:url(bg.png), linear-gradient(60deg, rgba(249,255,234,1) 0%, rgb(77 162 255) 50%, rgba(250,255,218,1) 100%);
    }
    50%{
        background-position: 50%;
        background-image:url(bg.png), linear-gradient(30deg, rgba(249,255,234,1) 0%, rgb(77 162 255) 50%, rgba(250,255,218,1) 100%);

    }
    0%{
        background-position: 0%;
        background-image:url(bg.png), linear-gradient(0deg, rgba(249,255,234,1) 0%, rgb(77 162 255) 50%, rgba(250,255,218,1) 100%);

    }
    
}

  
  .calculator {
    background-color: rgb(255 255 255 / 76%);
    padding: 20px;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    border-radius: 1px;
    box-shadow: -2px 4px 25px 2px #2E2E2E;
  }
  
  .input {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 1px;
    height: 60px;
    padding-right: 15px;
    padding-top: 10px;
    text-align: right;
    margin-right: 6px;
    font-size: 2.5rem;
    overflow-x: auto;
    transition: all .2s ease-in-out;
  }
  
  .input:hover {
    border: 1px solid #bbb;
    -webkit-box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  }
  
  .buttons {}
  
  .operators {
    display: flex;
    justify-content: space-evenly;
}
  
  .operators div {
    display: inline-block;
    border: 1px solid #bbb;
    border-radius: 1px;
    width: 80px;
    text-align: center;
    padding: 10px;
    margin: 20px 4px 10px 0;
    cursor: pointer;
    background-color: #ddd;
    transition: border-color .2s ease-in-out, background-color .2s, box-shadow .2s;
  }
  
  .operators div:hover {
    background-color: #ddd;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    border-color: #aaa;
  }
  
  .operators div:active {
    font-weight: bold;
  }
  
  
  .numbers div {
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 1px;
    width: 80px;
    text-align: center;
    padding: 10px;
    margin: 10px 4px 10px 0;
    cursor: pointer;
    background-color: #f9f9f9;
    transition: border-color .2s ease-in-out, background-color .2s, box-shadow .2s;
  }
  
  .numbers div:hover {
    background-color: #f1f1f1;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    border-color: #bbb;
  }
  
  .numbers div:active {
    font-weight: bold;
  }
  
  div.equal {
    display: inline-block;
    border: 2px solid #dee9f2;
    border-radius: 1px;
    width: 80px;
    text-align: center;
    padding: 40px 10px;
    margin: auto;
    vertical-align: top;
    cursor: pointer;
    color: #FFF;
    background-color: #236a99;
    transition: all .2s ease-in-out;
}
  
  div.equal:hover {
    background-color: #3089c4;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    border-color: #236a99;
  }
  
  div.equal:active {
    font-weight: bold;
  }
